.list-images {
    @extend .list-unstyled;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 0.625rem;
    margin-bottom: 0.5rem;

    li {
        padding: 0.875rem;
        border: 1px solid $border-color;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 0.875rem;
    }
}

@include media-breakpoint-up(lg) {
    .list-images {
        gap: 2.375rem;

        li {
            padding: 1.75rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .list-images {
        img {
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.125rem;
        }
    }
}
