@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$font-family-base: "Bricolage Grotesque", serif;
$headings-font-family: "Noto Sans", serif;
$headings-font-weight: 900;

$body-color: #06335C;
$body-bg: #fff;

$accordion-button-active-bg: #E2E2E2;
$accordion-button-padding-x: null;
$accordion-button-padding-y: 0.9375rem; 

$accordion-body-padding-x: 0;
$accordion-body-padding-y: 1.25rem;

$accordion-button-icon: "";
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='15.506' height='20.979' viewBox='0 0 15.506 20.979'><g transform='translate(15.506) rotate(90)'><path d='M781.638,403.094h-1.085q-7.262,0-14.524,0a1.408,1.408,0,0,1-1.21-.355,1.161,1.161,0,0,1-.238-1.224,1.128,1.128,0,0,1,.929-.713,4.551,4.551,0,0,1,.737-.017h15.276a14.643,14.643,0,0,0-1.87-2.088c-.684-.78-1.422-1.512-2.136-2.266-.056-.06-.116-.117-.167-.18a1.3,1.3,0,0,1-.071-1.839,1.351,1.351,0,0,1,1.773.259c.527.516,1.036,1.051,1.543,1.588q2.193,2.324,4.376,4.659a1.269,1.269,0,0,1,.09,1.953q-2.864,3.044-5.743,6.075c-.094.1-.19.2-.29.29a1.273,1.273,0,0,1-1.823.124,1.3,1.3,0,0,1,.179-1.775c1.085-1.155,2.183-2.3,3.275-3.445C780.94,403.845,781.216,403.545,781.638,403.094Z' transform='translate(785.476 409.691) rotate(180)' fill='#06335c'/></g></svg>");

$nav-link-color: #06335C;
$nav-link-hover-color: #06335C;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: #06335C;
$nav-pills-link-active-bg: #E2E2E2;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "base";
@import "accordion";
@import "list-images";
